.container h1 {
  text-align: center;
}
.App footer {
  font-size: 17px;
}
.App p {
  text-align: center;
  font-size: 19px;
   font-family: var(--secondary-font-family);
}
.container h2 {
  text-align: center;
  font-family: var(--secondary-font-family);
  margin-top: 30px;
}
.ReactIcon {
  width: 30px;
  height: 30px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color:#66DBFB;
 
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coder {
  font-family: var(--secondary-font-family);
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #5441a8;
  transition: all 200ms ease-in-out;
}

.coder:hover {
  color: #a08fe8;
}

footer .social-links a {
  margin: 0 12px;

  background-color: #c7c4dc;
  border-radius: 50%;
  padding: 9px 15px;
  font-size: 29px;
  transition: all 300ms ease-in-out;
}
footer .social-links a:hover {
  background-color: #a08fe8;
}

.githubIcon,
.VercelIcon {
  color: white;
}
