.container h1 {
  text-align: center;
}
.App footer {
  font-size: 17px;
}

.container h2 {
  text-align: center;
  font-family: var(--secondary-font-family);
  margin-bottom: 20px;
}

.coder {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  font-size: 25px;
  color: var(--secondary-font-family);
}
