:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Hachi Maru Pop", cursive;
  --main-color: #aaa4c4;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/745/original/vibrant-pink-watercolor-painting-background_%281%29.jpg?1706525890")!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif !important;
}

.Weather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/271/original/4465a930c044329d64e4a8373ba7ba0d.jpg?1706261633");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  color: #fff;
  padding: 16px;
  margin: 30px auto;
  max-width: 700px;
  width: 500px;
  height: 700px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .form-control {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  background-color: var(--main-color) !important;
  border-color: rgb(140, 133, 133) !important;

  margin-bottom: 20px;
  color: white !important;
}

.Weather .button {
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
  height: 45px;
  width: 130px;
  position: relative;
  bottom: 5px;
  color: white;
  right: 20px;
}

.Weather .button:hover {
  background-color: white;
  color: var(--main-color);
}


