:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Hachi Maru Pop", cursive;
}

body {
  background-color: #d8ccb7 !important;
  font-family: "Poppins", sans-serif !important;
}

.Weather {
  border: 1px solid black;
  padding: 16px;

  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  color: black;
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  padding: 10px;
}

.Weather canvas {
  position: relative;
  bottom: -8px;
  width: 60px;
  display: inline-block;
  margin-top: 5px;
}
.Weather .unit {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  top: -32px;
  right: 14px;
  line-height: 1;
}
